<%= image_tag "logo.gif", size: "272x48", alt: "Morning Glory" %>

<nav class="menubar">
  <ul>
    <%= menu_link_to "TOP", :root %> 
    <%= menu_link_to "ニュース", "#" %> 
    <%= menu_link_to "ブログ", "#" %> 
    <%= menu_link_to "会員名簿", :members %> 
    <%= menu_link_to "管理ページ", "#" %> 
</nav>
