table.list, table.attr {
  front-size: 90%;
  width: 100%;
}

table.list th, table.attr th {
  background-color: #499;
  color: white;
  front-weight: normal;
}

table.list td, table.list th,
table.attr td, table.attr th {
  padding: 4px;
}

table.list th {
  text-align: left;
}

table.attr th {
  text-align: right;
} 

table.list td, table.list td {
  background-color: #cee;
}
